.txt{
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.ustslide{
    display: flex;
    justify-content: center;
}
.sagfooter{
    display: flex ;
    justify-content:flex-end;
}
.footer-items{
    display: flex ;
    justify-content:space-around
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}
a:link{
    text-decoration:none;
}
@media screen and (max-width: 600px) {

    .cartss {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1100px) {
    .cart {
        display: flex;
        flex-direction: column;
    }
}

.portfolio-main-title{
    display: flex;
    justify-content: center;
}
.portfolio-main-desc{
    display: flex;
    justify-content: center;
}
.portfolio-cards{
    display: flex;
}
.portfolio-title{
    display: flex;
    justify-content: center;
}
.portfolio-description{
    display: flex;
    justify-content: center;
}

.info{
    width: 100%;

}
